@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Viga&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100%;

  overflow-x: hidden;

  background: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}